html {
    padding: 0;
    margin: 0;
    background: url("http://bit.ly/kings_college_chapel") no-repeat center fixed;
    background-size: cover;
}

body {
    margin: 50px auto 50px auto;
    background:rgba(255,255,255, 0.8);
    width: 70%;display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    height: 200px;
    background-color: rgb (212, 214, 216);
    overflow: scroll;
}

#content-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 130, 255, 0.2);
    justify-content: space-around;
    height: 200px;
}

#content-2 {
    background-color: rgb(213, 183, 255);
    flex: 2;
}

#content-3 {
    background-color: rgb(169, 241, 249);
    flex: 1;
    margin-right: 0;
}

main {
    display: flex;
    flex-direction: row;
    background-color: rgba(232, 235, 239, 0.3);
    justify-content: space-around;
    height: 100%;
}

footer {
    display: flex;
    background-color: rgb(148, 252, 242);
    justify-content: space-around;
    padding: 10px;
}

.column {
    padding: 20px;
    margin: 10px 10px 10px 0;
}

img {
    height: auto;
    width: 300px;
    margin: 0 0 0 0;
    box-sizing: border-box;
}

.message {
    margin: 20px auto 0 auto;
    font-size: 1.2em;
    font-family: cursive;
    text-align: center;
}

h1 {
    margin: 0;
    -webkit-margin-before: 0;
    color: rgb(145, 2, 0);
}

#content-1 a:hover {
    color: rgb(250, 255, 0);
    font-weight: 900;
}

header{
    box-sizing: border-box;
}